.recipe-summary {
  height: 500px;
  width: 400px;
  cursor: zoom-in;
  background-color: papayawhip;
  margin: 25px;
  padding: 10px;
}

.recipe-summary h2 {
  margin-bottom: 10px;
}

img.recipe-image {
  height: 420px;
  width: 360px;
}

.ingredient-list {
  position: relative;
  top: -424px;
  left: 20px;
  right: 0;
  height: 400px;
  width: 340px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 13px;
  font-size: 18px;
}

.ingredient-list h3 {
  margin-top: 10px;
}

.recipe-summary:hover .ingredient-list {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.recipe-details-container {
  position: fixed;
  width: 90%;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  cursor: zoom-out;
  z-index: 8;
  border: 1px solid black;
}

.recipe-details {
  display: flex;
  background-color: rgba(253, 239, 216, 1);
}

.tables-container {
  display: flex;
}

.recipe-details h1 {
  padding-left: 20px;
  text-align: left;
  text-decoration: underline;
}

table {
  text-align: left;
  padding: 0 20px;
  vertical-align: top;
}

.table-category {
  display: table-cell;
  vertical-align: top;
  padding-top: 5px;
  width: 150px;
  font-size: 24px;
  font-weight: bold;
}

.table-text {
  font-size: 18px;
  padding: 10px 0;
}

.cocktail-image-container {
  flex: 0 1 auto;
  margin: 20px;
}

.cocktail-image-large {
  height: 500px;
  width: 400px;
}

.instructions-table {
  flex: 1;
}

.ingredients-table-container {
  flex: 0 0 300px;
}

.ingredients-table {
  font-size: 18px;
  margin-top: 24px;
}

.ingredients-table td {
  margin-bottom: 10px;
  border-bottom: 5px solid transparent;
}

button {
  z-index: 9;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: red;
  font-weight: bold;
  border: 1px solid black;
  color: white;
}

