.welcome-container {
}

.contents-container {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin: 80px 0 100px 0;
}

.welcome-title {
  z-index: 28;
  position: fixed;
  top: 100px;
  width: 100%;
  font-family: "Kaushan Script";
  background-color: rgba(246, 239, 246, 1);
}

.welcome-text {
  flex: 1 75%;
  margin: 90px 50px 50px 50px;
  font-family: "Convergence";
  font-size: 24px;
  text-align: left;
}

.recipe-summary-container {
  display: flex;
  justify-content: center;
  flex: 1 25%;
  margin: 65px 50px;
}

.contents-container .recipe-details {
  margin-top: 50px;
}

.contents-container #close-details {
  top: 88px;
  right: 40px;
  border-radius: 50%;
}

.contents-container #close-details:after, 
.contents-container span {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  box-shadow: 0 0 15px #ffff21;
  animation: glow-grow 2s ease-out infinite;
}

.contents-container #close-details:after {
  animation-delay: .66s;
}

.contents-container, 
.contents-container span{
  animation-delay: 1.33s;
}

@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}