.welcome-container {
}

.contents-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 430px;
  /* overflow: hidden; */
  /* display: flex; */
  /* justify-content: space-around; */
  margin: 100px 0 0 0;
}

.welcome-title {
  /* display: grid; */
  /* z-index: 28; */
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  /* position: fixed; */
  /* top: 100px;
  left: 0;*/
  /* width: 100%; */ 
  height: 55px;
}

.welcome-title h1 {
  font-family: "Kaushan Script";
  background-color: rgba(246, 239, 246, 1);
  font-size: 36px;
  margin: 25px 25px 0 25px;

}

/* .welcome-text {
  flex: 1 75%;
  margin: 90px 50px 50px 50px;
  font-family: "Convergence";
  font-size: 24px;
}

.welcome-text .filterGuide {
  max-width: 640px;
  text-align: left;
}

.welcome-text .summaryGuide {
  max-width: 450px;
  text-align: right;
  float: right;
} */

.guide-left {
  display: grid;
  grid-row: 2 / 2;
  grid-column: 1 / 2;
} 

.guide1, .guide2, .guide3, .guide4 {
  font-family: "Poor Story";
  font-size: 32px;
  padding: 25px;

}

.guide1 {
  grid-row: 1;
  text-align: left;
  
}

.guide2 {
  grid-row: 2;
  text-align: right;
}

.guide3 {
  grid-row: 4 / 4;
  grid-column: 1 / 2;
  text-align: right;
  margin-right: 100px;
}

.guide4 {
  grid-row: 4 / 4;
  grid-column: 2 / 3;
  text-align: left;
  margin-left: 100px;
}

.guide3 p, .guide4 p {
  margin-top: 0;
}

/* .welcome-footer {
  display: flex;
  position: fixed;
  bottom: 60px;
  font-family: "Convergence";
  font-size: 24px;
} */

.welcome-footer p.inventoryGuide {
  /* display: inline-block; */
  /* position: relative; */
  /* top: 140px; */
  text-align: right;
  width: 43%;
  margin: 0 80px 40px 20px;
}

/* .welcome-footer p.menuGuide {
  width: 40%;
  text-align: left;
  margin: 0 20px 40px 80px;
} */

.recipe-summary-container {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-content: center;
  margin: 50px;
  top: -40px;
  position: relative
}

.recipe-summary-container .ingredient-list {
  top: -328px;
}

.contents-container .recipe-details {
  margin-top: 50px;
}

.contents-container #close-details {
  top: 88px;
  right: 40px;
  border-radius: 2px;
}

/* Arrows */

/* Arrow 1 */

.arrow1 {
	position: absolute;
  margin: 0 auto;
  width: 10%;
  top: 100px;
  margin-left: 25px;
}

.arrow1 .curve1 {
	border: 5px solid #BE5F4B;
	border-color: transparent transparent transparent #BE5F4B;
	height: 100px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow1 .point1 {
	position: absolute;
	left: 40px;
	top: 315px;
}

.arrow1 .point1:before, .arrow1 .point1:after {
	border: 2px solid #BE5F4B;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow1 .point1:before {
	top: -307px;
	left: -32px;
	transform:rotate(-100deg);
	-webkit-transform:rotate(-100deg);
  -moz-transform:rotate(-100deg);
  -ms-transform: rotate(-100deg);
}

.arrow1 .point1:after {
  top: -297px;
	left: -19px;
	transform:rotate(3deg);
	-webkit-transform: rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform: rotate(3deg);
}

/* Arrow 2 */

.arrow2 {
	position: absolute;
  margin: 0 auto;
  width: 10%;
  top: 140px;
  left: -100px;
  margin-left: 25px;
  transform: rotate(50deg)
}

.arrow2 .curve2 {
	border: 5px solid #BE5F4B;
	border-color: transparent transparent transparent #BE5F4B;
	height: 100px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow2 .point2 {
	position: absolute;
	left: 40px;
	top: 315px;
}

.arrow2 .point2:before, .arrow2 .point2:after {
	border: 2px solid #BE5F4B;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow2 .point2:before {
	top: -307px;
	left: -32px;
	transform:rotate(-100deg);
	-webkit-transform:rotate(-100deg);
  -moz-transform:rotate(-100deg);
  -ms-transform: rotate(-100deg);
}

.arrow2 .point2:after {
  top: -297px;
	left: -19px;
	transform:rotate(3deg);
	-webkit-transform: rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform: rotate(3deg);
}

/* Arrow 3 */

.arrow3 {
	position: absolute;
  margin: 0 auto;
  width: 100px;
  bottom: 50px;
  left: 36%;
  margin-left: 25px;
  transform: rotate(180deg);
}

.arrow3 .curve3 {
	border: 5px solid #BE5F4B;
	border-color: transparent transparent transparent #BE5F4B;
	height: 100px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow3 .point3 {
	position: absolute;
	left: 40px;
	top: 315px;
}

.arrow3 .point3:before, .arrow3 .point3:after {
	border: 2px solid #BE5F4B;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow3 .point3:before {
	top: -307px;
	left: -32px;
	transform:rotate(-100deg);
	-webkit-transform:rotate(-100deg);
  -moz-transform:rotate(-100deg);
  -ms-transform: rotate(-100deg);
}

.arrow3 .point3:after {
  top: -297px;
	left: -19px;
	transform:rotate(3deg);
	-webkit-transform: rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform: rotate(3deg);
}

/* Arrow 4 */

.arrow4 {
	position: absolute;
  margin: 0 auto;
  width: 100px;
  bottom: 52px;
  left: 53%;
  margin-left: 25px;
}

.arrow4 .curve4 {
	border: 5px solid #BE5F4B;
	border-color: transparent transparent transparent #BE5F4B;
	height: 100px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow4 .point4 {
	position: absolute;
    left: -270%;
    top: 16px;
    transform: rotate(109deg);
}

.arrow4 .point4:before, .arrow4 .point4:after {
	border: 2px solid #BE5F4B;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow4 .point4:before {
	top: -307px;
	left: -32px;
	transform:rotate(-100deg);
	-webkit-transform:rotate(-100deg);
  -moz-transform:rotate(-100deg);
  -ms-transform: rotate(-100deg);
}

.arrow4 .point4:after {
  top: -297px;
	left: -19px;
	transform:rotate(3deg);
	-webkit-transform: rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform: rotate(3deg);
}

