.welcome-container {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.contents-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 430px;
  overflow: hidden;
  margin: 100px 0 0 0;
  max-width: 100vw;
}

.welcome-title {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  height: 55px;
}

.welcome-title h1 {
  font-family: "Kaushan Script";
  background-color: rgba(246, 239, 246, 1);
  font-size: 36px;
  margin: 25px 25px 0 25px;
}

.guide-left {
  display: grid;
  grid-row: 2 / 2;
  grid-column: 1 / 2;
} 

.guide1, 
.guide2, 
.guide3, 
.guide4 {
  font-family: "Poor Story";
  font-size: 32px;
  padding: 25px;
}

.guide1 {
  grid-row: 1;
  text-align: left;
}

.guide2 {
  grid-row: 2;
  text-align: right;
  margin: 0;
  padding: 0 0 0 25px;
}

.guide2 p {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.guide3 {
  grid-row: 4 / 4;
  grid-column: 1 / 2;
  text-align: center;
}

.guide4 {
  grid-row: 4 / 4;
  grid-column: 2 / 3;
  text-align: center;
}

.guide3 p, 
.guide4 p {
  margin: auto;
  max-width: 400px;
}

.recipe-summary-container {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-content: center;
  margin: 50px;
  top: -40px;
  position: relative
}

.recipe-summary-container .ingredient-list {
  top: -328px;
}

.contents-container .recipe-details {
  margin-top: 50px;
}

.contents-container #close-details {
  top: 88px;
  right: 40px;
  border-radius: 2px;
}
