.header {
  position: fixed;
  width: 100vw;
  z-index: 29;
}

.title {
  font-family: "Prosto One", sans-serif;
  background-color: rgba(245, 244, 193, 1);
  font-weight: bolder;
  padding: 0;
  height: 60px;
  text-shadow:
   -1px -1px 0 rgba(158, 160, 179, 1),
    1px -1px 0 rgba(158, 160, 179, 1),
    -1px 1px 0 rgba(158, 160, 179, 1),
     1px 1px 0 rgba(158, 160, 179, 1);
}

.title h1 {
  padding: 10px;
  margin: 0;
  text-align: left;
}

.title .bar {
  position: absolute;
  left: 295px;
}

.header .search {
  position: absolute;
  top: 16px;
  right: 10px;
  font-size: 18px;
  height: 24px;
  border-radius: 10px;
  width: 230px;
  padding-left: 10px;
}

.header .submit {
  position: absolute;
  top: 23px;
  right: 20px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  border: 0;
  background-image: url('../../assets/search-icon.svg');
}

.header img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  border: none;
}

nav {
  height: 50px;
  background-color: rgba(116, 121, 89, 1);
}

select {
  width: 200px;
  height: 25px;
  margin: 13px 25px;
  font-size: 16px;
  background-color: rgba(116, 121, 89, 1);
  border: none;
  font-weight: bold;
  color: rgba(245, 244, 193, 1);
  text-shadow:
   -1px -1px 0 darkgreen,  
    1px -1px 0 darkgreen,
    -1px 1px 0 darkgreen,
     1px 1px 0 darkgreen;
}