.header {
  position: fixed;
  width: 100vw;
  z-index: 29;
}

.title h1 {
  display: inline-block;
  position: absolute;
  left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  border: none;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  font-size: 30px;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: left;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.title:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.title {
  background-color: rgba(83, 90, 107, 1);
  padding: 0;
  height: 60px;
}

.header .search {
  position: absolute;
  top: 16px;
  right: 10px;
  font-size: 18px;
  height: 24px;
  border-radius: 10px;
  width: 285px;
  padding-left: 10px;
}

.header .submit {
  position: absolute;
  top: 23px;
  right: 20px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  border: 0;
  background-image: url('../../assets/search-icon.svg');
  cursor: pointer;
}

.header img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  border: none;
}

nav {
  height: 50px;
  background-color: rgba(116, 121, 89, 1);
}

select {
  width: 200px;
  height: 25px;
  margin: 13px 25px;
  font-size: 16px;
  background-color: rgba(116, 121, 89, 1);
  border: none;
  font-weight: bold;
  color: rgba(245, 244, 193, 1);
  text-shadow:
   -1px -1px 0 darkgreen,  
    1px -1px 0 darkgreen,
    -1px 1px 0 darkgreen,
     1px 1px 0 darkgreen;
  cursor: pointer;
}

select:hover {
  text-shadow:
   -3px -3px 0 rgba(0, 100, 0, 0.3),  
    3px -3px 0 rgba(0, 100, 0, 0.3),
    -3px 3px 0 rgba(0, 100, 0, 0.3),
     3px 3px 0 rgba(0, 100, 0, 0.3);
  color: rgba(246, 239, 246, 1);

}