.title {
  background-color: pink;
  padding: 0;
  height: 60px;
}

.title h1 {
  padding: 10px;
  margin: 0;
}

.header .search {
  position: absolute;
  top: 5px;
  right: 75px;
  font-size: 16px;
}

.header .submit {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 16px;
}

nav {
  height: 40px;
  background-color: orange;
}

select {
  width: 200px;
  height: 25px;
  margin: 8px 25px;
  font-size: 16px;

}