@font-face {
    font-family: Billy;
    src: url("../../assets/fonts/BILLYTHEKID.otf") format("opentype");
}

@font-face {
    font-family: Billy;
    font-weight: bold;
    src: url("../../assets/fonts/BILLYTHEKID-Bold.otf") format("opentype");
}

.dashboard-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(116, 121, 89, 1);
  z-index: 29;
}

.dashboard-container button {
  margin: 10px 60px;
  font-size: 18px;
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  color: rgba(245, 244, 193, 1);
  cursor: pointer;
  width: 100px;
}

.dashboard-container button img {
  height: 35px;
  width: 200px;
  border: none;
}

.dashboard-container button:hover {
  filter: drop-shadow(5px 5px 5px rgba(83, 90, 107, 1));
  color: rgba(83, 90, 107, 1);
}

.button-text {
  display: block;
  position: relative;
  top: -32px;
  left: 18px;
  width: 102px;
  font-family: "Billy";
}

#left-button {
  margin-right: 120px;
}

#left-image {
  width: 245px;
}

#left-button-text {
  left: 55px;
  width: 200px;
}

NavLink {
  border: none;
}