.dashboard-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(116, 121, 89, 1);
  z-index: 29;
}

.dashboard-container button {
  margin: 10px;
  padding: 4px;
  font-size: 18px;
  background-color: rgba(83, 90, 107, 1);
  border: 1px solid rgba(246, 239, 246, 1);
  border-radius: 4px;
  font-weight: bold;
  color: rgba(245, 244, 193, 1);
  cursor: pointer;
  width: 150px;
  height: 32px;
}

.dashboard-container button:hover {
  filter: drop-shadow(5px 5px 5px rgba(83, 90, 107, 1));
  color: rgba(255, 255, 255, 1);
}
