.dashboard-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(245, 244, 193, 1);
  z-index: 29;
}

.dashboard-container button {
  margin: 10px 25px;
  font-size: 18px;
  background-color: rgba(116, 121, 89, 1);
  font-weight: bold;
  color: rgba(245, 244, 193, 1);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(116, 121, 89, 1);
    text-shadow:
   -1px -1px 0 darkgreen,  
    1px -1px 0 darkgreen,
    -1px 1px 0 darkgreen,
     1px 1px 0 darkgreen;
}