.inventory-container .ingredients-container {
  margin: 0px 0 50px 0px;
  margin-top: 70px;
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;  
  -moz-column-width: 100px;
  -webkit-column-width: 100px;
  column-width: 100px;
}

.ingredient {
  text-align: left;
}

p.ingredient {
  margin-top: 0;
}