.inventory-container .ingredients-container {
  margin: 0px 0 60px 0px;
  padding: 0 20px;
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;  
  -moz-column-width: 100px;
  -webkit-column-width: 100px;
  column-width: 100px;
}

.inventory-container h3 {
  margin-top: 130px;
}

.ingredient {
  text-align: left;
}

p.ingredient {
  margin-top: 0;
}