.inventory-container {
  margin: 100px 0 100px 0px;
  padding: 20px;
}

.inventory-container h2 {
  margin-top: 0;
}

.ingredients-columns {
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;  
  -moz-column-width: 100px;
  -webkit-column-width: 100px;
  column-width: 100px;
}

.ingredient {
  text-align: left;
}

p.ingredient {
  margin-top: 0;
}